prefix_rule(
    pattern = ["pnpm", ["run", "outdated", "update", "create", "-v", "--version", "format", "lint", "test", "typecheck", "console", "dev:web", "test:e2e", "build"]],
    decision = "allow",
    justification = "Allow common pnpm commands",
    match = [
      "pnpm run dev"
    ],
  )